<div class="ui bottom attached ">
  <div class="sidebar-nav ui  inverted left vertical sidebar menu">
    <a class="item">
      INFOBANK
    </a>
    <a class="item">
      <i class="home icon"></i> Home
    </a>
    <a id="cloud-upload-trigger" class="item">
      <i class="upload icon"></i> Upload Cloud
    </a>
    <div ng-include="'templates/connectedClouds.html'"></div>
  </div>
  <div class="sidebar-actions ui inverted bottom vertical sidebar menu">
    <a class="item">
      INFOBANK
    </a>
  </div>

  <div id="menu-header" class="ui  top inverted attached menu">
    <div class=" menu-toggle header item">
      <a href=""><i class="large sidebar icon"></i></a>
    </div>
    <div class="right menu">
      <div class="ui item">
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </div>
      <div class="ui dropdown icon item">
        <i class="ellipsis vertical icon"></i>
        <div class="menu">
          <div class="item">
            Open...
          </div>
          <div class="item">
            Save...
          </div>
          <div class="item">Edit Permissions</div>
          <div class="divider"></div>
          <div class="header">
            Export
          </div>
          <div class="item">
            Share...
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pusher">
    <div id="main">
      <div class="ui warning icon message" ng-if="update_in_progress">
        <div class="content">
          <div class="header">Update in Progress</div>
          Files are being added to your infobank
        </div>
      </div>
      <div ng-view>
      </div>
    </div>
  </div>
</div>
